@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Delicious Handrawn', cursive;
}

body {
    background-color: #4aaee81c;
}

.build-map {
    position: relative;
    margin: 0 auto;
    max-width: 1070px;
    border: 2px solid black;
}

.build-item, .first-build-item {
    cursor: url(../img/cursor-zoom.png) 0 0, auto;
}

.build-item:hover > path {
    fill: #d8ff0040;
}

.build-path {
    stroke: #ffffff00;
    fill: #ffffff00;
}

.outer-circle {
    stroke: black;
    stroke-width: 2px;
}

.inner-circle {
    fill: #AC9F9F; 
    stroke: black;
}

.build-number text {
    font-size: 34px;
    font-weight: 800;
    
}

.build-info, .first-build-info {
    width: 350px;
    padding: 12px 25px;
    gap: 15px;
    display: grid;
    border: 1px solid;
    border-radius: 20px;
    font-size: 25px;
    background-color: #d8ff0075;
    position: absolute;
    top: 20px;
    left: 20px;
    pointer-events: none;
}

.build-info {
    left: auto;
    right: 20px;
}

.build-info-item {
    display: flex;
    justify-content: space-between;
}

.first-build {
    max-width: 870px;
    margin: 0 auto;
    border: 2px solid black;
    position: relative;
    
}

.back-icon {
    width: 40px;
    height: 40px;
    display: block;
    color: #535261;
    position: fixed;
    top: 0px;
}

.back-icon:hover {
    color: #b3b1b1;
}

.first-build-item path {
    stroke: #ffffff00;
    fill: #ffffff00;
}

.first-build-item:hover path {
    fill: #d8ff0040;
}

.hidden-floors:hover {
    cursor: url(../img/cursor-multiply.png) 4 12, auto;
}

.hidden-floors:hover > path {
    fill: #ff005740;
}

.hidden-floors-info {
    background-color: #df2a685c; ;
}

.status path {
    stroke: none;
}

.build-item:hover .status-open path {
    stroke: #3CC880;
    
}

.hidden-floors:hover .status-close path {
    stroke: #DB2929;
}

.hidden-floors:hover .status-open path {
    stroke: none;
}


/* modal */

.modal-content {
    position: relative;
    overflow-x: hidden;
}

.modal-body {
    margin: 0 auto;
}

.modal-flats {
    max-width: 950px;
}

.flats-svg-body {
    height: calc(100vh - 98px);
    margin: 0 auto;
    max-width: 100%;
    border: 2px solid black;
}

.flats-apartment > path {
    stroke: #ffffff00;
    fill: #ffffff00;
}

.flats-apartment:hover > path {
    fill: #399e3fc4;
    cursor: url(../img/cursor-zoom.png) 0 0, auto;
}

.flats-apartment.booked:hover > path {
    fill: #0300b6c4;
    cursor: url(../img/cursor-multiply.png) 4 12, auto;
}

.flats-apartment.sold:hover > path {
    fill: #ea1212c4;
    cursor: url(../img/cursor-multiply.png) 4 12, auto;
}

.flats-sticker {
    width: 186px; 
    height: 52px;
    fill: #FEFEFE; 
    stroke: black; 
    stroke-width: 2px;
    rx: 9px;
}

.flats-sticker-number tspan {
    fill: black;
    font-size: 21px;
    font-weight: 600;
}

/* aside popup */

.flats-block {
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    /* bottom: 0; */
    min-height: 100vh;
    width: 100%;
    transition: .5s;
    transform: translateX(100%);
    background-color: #a4c7dc;
}

.flats-block.active {
    transform: translateX(0%);
}

h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}

.flats-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flats-body .img-fluid {
    max-width: calc(100% - 300px);
    height: auto;
}

.flats-info {
    width: 300px;
}

.flats-info li {
    margin: 10px;
    font-weight: 24px;
}

@media screen and (max-width: 768px) {
    .build-info, .first-build-info {
        margin: 0 auto;
        position: static;
        max-width: 100%;
    }

    .flats-body {
        flex-direction: column;
    }

    .flats-body .img-fluid {
        max-width: 100%;
        
    }
    
}

